<div class="container-fluid text-center">
    <h1 class="text-gold">Materias</h1>
    <button type="button" class="btn btn-primary mb-3" routerLink="/product-form/0">Agregar Curso</button>
    <div class="d-flex justify-content-center align-content-center flex-wrap gap-5">
        @for(product of products; track $index){
            <div class="card" style="width: 18rem;" (click)="goToProduct(product.id)">
                <img 
                    [src]="product.image" 
                    class="card-img-top p-3"
                    style="height: 200px; width: fit-content; max-width: 100%; margin-inline: auto;" 
                    [alt]="product.title">
                <div class="card-body">
                    <h5 class="card-title" style="color: gold;">{{product.title}}</h5>
                    <h6 class="card-subtitle mb-2" style="color: gold;">$ {{product.price.toFixed(2)}}</h6>
                    <a (click)="addToCart($event, product)" class="btn btn-primary">Añadir al carrito</a>
                    @if(role == "admin"){
                        <a [routerLink]="['/product-form', product.id]" class="btn btn-success">Actualizar</a>
                        <a (click)="deleteProduct($event, product.id)" class="btn btn-danger">Eliminar</a>
                    }
                </div>
            </div>
        }
    </div>
</div>
